@import "fonts";
//Color
$white: #ffffff;
$black: #000000;
$orange: #e65f51;
$gray: #2f2f2f;
$gray2: #272727;
$gray3: #404040;
$green: #15bd90;

$height: 40px;
$grey: #cccccc;
$grey2: #eeeeee;

//Fonts
$font: 16px;
$poppins-bold: Poppins-Bold, sans-serif;
$poppins-semiBold: Poppins-SemiBold, sans-serif;
$poppins-medium: Poppins-Medium, sans-serif;
$poppins-normal: Poppins-Regular, sans-serif;
$poppins-light: Poppins-Light, sans-serif;

$gilroy-bold: Gilroy-Bold, sans-serif;
$gilroy-semiBold: Gilroy-SemiBold, sans-serif;
$gilroy-medium: Gilroy-Medium, sans-serif;
$gilroy-normal: Gilroy-Regular, sans-serif;
$gilroy-light: Gilroy-Light, sans-serif;