<footer class="footer" id="footer">
    <div class="container">
        <div class="footer_nav_container">
            <div class="nav_logo">
                <a href="/">
                    <h4 class="footer-logo">LOGO</h4>
                </a>
            </div>
            <div class="nav_social">
                  <span>
                        <a href="" target="_blank" rel="nofollow noopener" aria-label="Facebook">
                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15C30 23.2843 23.2843 30 15 30C6.71573 30 0 23.2843 0 15ZM16.0635 23.3197V15.1589H18.3162L18.6147 12.3466H16.0635L16.0673 10.9391C16.0673 10.2056 16.137 9.81257 17.1905 9.81257H18.5988V7H16.3457C13.6395 7 12.6869 8.36425 12.6869 10.6585V12.3469H11V15.1592H12.6869V23.3197H16.0635Z"
                                  fill="#F07B13"></path>
                            </svg>
                          </a>
                      </span>
                <span>
          <a href="" target="_blank" rel="nofollow noopener"
             aria-label="Instagram">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15C30 23.2843 23.2843 30 15 30C6.71573 30 0 23.2843 0 15ZM15.0008 7C12.8281 7 12.5554 7.0095 11.7021 7.04833C10.8504 7.08733 10.269 7.22217 9.76036 7.42C9.23419 7.62434 8.78785 7.89768 8.34318 8.34251C7.89818 8.78718 7.62484 9.23352 7.41984 9.75953C7.2215 10.2684 7.0865 10.8499 7.04817 11.7012C7.01 12.5546 7 12.8274 7 15.0001C7 17.1728 7.00967 17.4446 7.04833 18.298C7.0875 19.1496 7.22234 19.731 7.42 20.2396C7.62451 20.7658 7.89784 21.2121 8.34268 21.6568C8.78719 22.1018 9.23352 22.3758 9.75936 22.5802C10.2684 22.778 10.8499 22.9128 11.7014 22.9518C12.5547 22.9907 12.8272 23.0002 14.9998 23.0002C17.1726 23.0002 17.4444 22.9907 18.2978 22.9518C19.1495 22.9128 19.7315 22.778 20.2405 22.5802C20.7665 22.3758 21.2121 22.1018 21.6567 21.6568C22.1017 21.2121 22.375 20.7658 22.58 20.2398C22.7767 19.731 22.9117 19.1495 22.9517 18.2981C22.99 17.4448 23 17.1728 23 15.0001C23 12.8274 22.99 12.5547 22.9517 11.7014C22.9117 10.8497 22.7767 10.2684 22.58 9.7597C22.375 9.23352 22.1017 8.78718 21.6567 8.34251C21.2116 7.89751 20.7666 7.62417 20.24 7.42C19.73 7.22217 19.1483 7.08733 18.2966 7.04833C17.4433 7.0095 17.1716 7 14.9983 7H15.0008Z"
                fill="#E67E22"></path>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.2821 8.44194C14.4951 8.44161 14.7328 8.44194 14.9998 8.44194C17.1358 8.44194 17.389 8.44961 18.2325 8.48794C19.0125 8.52361 19.4359 8.65394 19.7179 8.76344C20.0912 8.90845 20.3574 9.08178 20.6372 9.36178C20.9172 9.64179 21.0905 9.90846 21.2359 10.2818C21.3454 10.5635 21.4759 10.9868 21.5114 11.7668C21.5497 12.6102 21.558 12.8635 21.558 14.9985C21.558 17.1335 21.5497 17.3869 21.5114 18.2302C21.4757 19.0102 21.3454 19.4336 21.2359 19.7152C21.0909 20.0886 20.9172 20.3544 20.6372 20.6342C20.3572 20.9142 20.0914 21.0876 19.7179 21.2326C19.4362 21.3426 19.0125 21.4726 18.2325 21.5082C17.3892 21.5466 17.1358 21.5549 14.9998 21.5549C12.8636 21.5549 12.6105 21.5466 11.7671 21.5082C10.9871 21.4722 10.5638 21.3419 10.2816 21.2324C9.90826 21.0874 9.64159 20.9141 9.36158 20.6341C9.08158 20.3541 8.90824 20.0881 8.76291 19.7146C8.65341 19.4329 8.52291 19.0096 8.48741 18.2295C8.44907 17.3862 8.44141 17.1329 8.44141 14.9965C8.44141 12.8602 8.44907 12.6082 8.48741 11.7648C8.52307 10.9848 8.65341 10.5615 8.76291 10.2795C8.90791 9.90612 9.08158 9.63945 9.36158 9.35945C9.64159 9.07945 9.90826 8.90611 10.2816 8.76078C10.5636 8.65078 10.9871 8.52078 11.7671 8.48494C12.5051 8.45161 12.7911 8.44161 14.2821 8.43994V8.44194ZM19.2702 9.77029C18.7402 9.77029 18.3102 10.1998 18.3102 10.73C18.3102 11.26 18.7402 11.69 19.2702 11.69C19.8002 11.69 20.2302 11.26 20.2302 10.73C20.2302 10.2 19.8002 9.76996 19.2702 9.76996V9.77029ZM14.9998 10.892C12.731 10.892 10.8914 12.7315 10.8914 15.0003C10.8914 17.2692 12.731 19.1079 14.9998 19.1079C17.2687 19.1079 19.1075 17.2692 19.1075 15.0003C19.1075 12.7315 17.2685 10.892 14.9996 10.892H14.9998Z"
                fill="#E67E22"></path> <path fill-rule="evenodd" clip-rule="evenodd"
                                             d="M15.0007 12.3335C16.4734 12.3335 17.6674 13.5273 17.6674 15.0002C17.6674 16.4729 16.4734 17.6669 15.0007 17.6669C13.5278 17.6669 12.334 16.4729 12.334 15.0002C12.334 13.5273 13.5278 12.3335 15.0007 12.3335Z"
                                             fill="#E67E22"></path>
        </svg>
            </a>
      </span>
                <span>
          <a href="" target="_blank" rel="nofollow noopener" aria-label="Twitter">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 0C6.717 0 0 6.717 0 15C0 23.283 6.717 30 15 30C23.283 30 30 23.283 30 15C30 6.717 23.283 0 15 0ZM21.8488 11.6954C21.8555 11.843 21.8587 11.9913 21.8587 12.1404C21.8587 16.6898 18.3957 21.936 12.0628 21.9363H12.063H12.0628C10.1184 21.9363 8.3091 21.3663 6.78543 20.3897C7.05482 20.4215 7.32903 20.4373 7.60666 20.4373C9.21982 20.4373 10.7043 19.8871 11.8829 18.9635C10.3757 18.9356 9.10492 17.9402 8.66638 16.5722C8.87627 16.6125 9.0921 16.6344 9.31343 16.6344C9.62769 16.6344 9.9321 16.5921 10.2214 16.5131C8.64601 16.1977 7.45926 14.8055 7.45926 13.1383C7.45926 13.1227 7.45926 13.1087 7.45972 13.0943C7.92366 13.3523 8.45421 13.5075 9.01909 13.5249C8.09464 12.908 7.48695 11.8536 7.48695 10.659C7.48695 10.0282 7.65747 9.43726 7.95319 8.92845C9.65103 11.0117 12.1884 12.3818 15.0499 12.5258C14.9908 12.2736 14.9604 12.0108 14.9604 11.7407C14.9604 9.84009 16.5024 8.29811 18.4037 8.29811C19.3941 8.29811 20.2885 8.71674 20.9168 9.38599C21.7012 9.23126 22.4377 8.9447 23.1031 8.55034C22.8456 9.35394 22.3 10.0282 21.5891 10.4546C22.2855 10.3713 22.9493 10.1866 23.5661 9.91241C23.1054 10.603 22.5211 11.2095 21.8488 11.6954Z"
              fill="#F07B13"></path>
        </svg>
            </a>
      </span>
                <span>
          <a href="" target="_blank" rel="nofollow noopener"
             aria-label="Linkedin">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 0C6.717 0 0 6.717 0 15C0 23.283 6.717 30 15 30C23.283 30 30 23.283 30 15C30 6.717 23.283 0 15 0ZM10.6412 22.6758H6.98799V11.6851H10.6412V22.6758ZM8.8147 10.1843H8.79089C7.565 10.1843 6.77216 9.34044 6.77216 8.28575C6.77216 7.20726 7.58926 6.38672 8.83896 6.38672C10.0887 6.38672 10.8577 7.20726 10.8815 8.28575C10.8815 9.34044 10.0887 10.1843 8.8147 10.1843ZM23.8138 22.6758H20.1611V16.796C20.1611 15.3184 19.6321 14.3106 18.3103 14.3106C17.3012 14.3106 16.7001 14.9904 16.436 15.6466C16.3394 15.8814 16.3158 16.2096 16.3158 16.5381V22.6758H12.6629C12.6629 22.6758 12.7107 12.7162 12.6629 11.6851H16.3158V13.2413C16.8013 12.4924 17.6699 11.4272 19.6081 11.4272C22.0116 11.4272 23.8138 12.998 23.8138 16.3737V22.6758Z"
              fill="#F07B13"></path>
        </svg>
            </a>
      </span>

            </div>
        </div>
        <div class="footer_bottom">
            <span>© Copyright. All rights reserved</span>
        </div>
    </div>
</footer>
<!-- JS, Popper.js, and jQuery -->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>