<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content='{{article.meta.keywords}}'>
    <meta name="description" content='{{article.meta.descriptions}}'>
    <link rel="canonical" href="https://example.com/{{article.slug}}">
    <!-- CSS only -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/cropper/cropper.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/cropper/cropper.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <title>{{ title }}</title>
</head>